/* Universal Selector */
* {
  box-sizing: border-box;
}

/* Element Selectors */
body {
  font-family: "Goudy Bookletter 1911", sans-serif;
  margin: 0;
}

/* Header Properties */
header {
  padding: 10px;
  text-align: center;
  background-color: blue;
  border-bottom: 10px solid lightblue;
  color: #FDF8F5;
}

/* "Linkbar" Background Properties */
nav {
  display: flex;
  background-color: blue;
  border-bottom: 10px solid lightblue;
}

/* "Linkbar" Links Properties */
nav a {
  padding: 10px 50px;
  text-decoration: none;
  color: #FDF8F5;
  text-align: left;
}

/* Main Body Background Properties */
main {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(81, 123, 181);
  color: #FDF8F5;
}

/* Personal Photo/Avatar Background Properties */
aside {
  flex: 20%;
  padding: 0px;
  flex-wrap: wrap;
}

/* Personal Photo/Avatar Picture Properties */
img {
  display: block;
  margin: 50px auto;
}

/* About Me Paragraph Background Settings*/
section {
  flex: 80%;
  padding: 20px;
}

/* Projects and Placeholders General Properties */
.products {
  flex: 1;
  background-color: rgb(81, 123, 181);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

/* Projects and Placeholders Border Properties */
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 2 1 400px;
}

/* Projects and Placeholders Header Properties */
.card h2 {
  padding: 20px;
  text-align: center;
}

/* Projects and Placeholders Paragraph Properties */
.card p {
  text-align: center;
}

/* Projects and Placeholders Image Properties */
.card img {
  width: 100%;
}

/* Projects and Placeholders Link Properties */
.card a {
  color: #FDF8F5;
  text-decoration: none;
}

/* Footer Properties */
footer {
  padding: 5px;
  text-align: center;
  background-color: blue;
  color: #FDF8F5;
  border-bottom: 10px solid lightblue;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: red;
    flex-direction: column;
  }
}

/* Tablets - footer changes color */
@media screen and (max-width: 992px) {
  footer {
    background: yellowgreen;
    flex-direction: column;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  aside {
    background-color: turquoise;
    flex-direction: column;
  }
}

/* Small smartphones - links change color */
@media screen and (max-width: 576px) {
  nav {
    background: crimson;
    flex-direction: column;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  section {
    background-color: limegreen;
    flex-direction: column;
  }
}
